@charset "utf-8";
/* *******************************************************
 * filename : layout.css
 * description : 전체 레이아웃 CSS
 * date : 2023-04-12
******************************************************** */

/* ========================================================
 * SETTING
======================================================== */
:root{
	--main-color: #ffd957;
	--sub-color: #fba550;
	--txt-color: #262e33;
    --main-tit-size: 12rem;
    --sub-tit-size: 10rem;
	--area-box-width: 1400px;
	--area-width: 1400px;
	--area-padding: 30px;
	--header-height: 100px;
	--full-height: 100vh;
	--transition-custom: all 0.4s ease-in-out;
	--font-family1: 'Noto Sans KR', "나눔고딕", NanumGothic, "Nanum Gothic","돋움", Dotum, Arial, sans-serif;
}
::selection {
    background: var(--main-color);   
    color: #fff;
}
::-moz-selection {
    background: var(--main-color);    
    color: #fff;
}
html{font-size:10px; }
body, table, th, td, button, select, input, textarea {
	font-family:var(--font-family1);
	color: var(--txt-color);
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	text-size-adjust:none;
	word-break:keep-all;
}
body { background-color:#fff; }
table, th, td{word-break:break-word;}
#wrap {overflow:hidden; width:100%; min-width:320px; position:relative; }
@media all and (max-width:800px){
	:root{
		--area-padding: 3.6rem;
		--header-height: 60px;
    }
}


/* ========================================================
 * FONT SIZE
======================================================== */
@media all and (max-width:1536px){
	html{font-size:0.6510vw;} /* 10 */
}
@media all and (max-width:1280px){
	html{font-size:0.8594vw;} /* 10 -> 11*/
}
@media all and (max-width:800px){
	html{font-size:1.375vw} /* 10 -> 11*/
}
@media all and (max-width:640px){
	html{font-size:1.7188vw}  /* 10 -> 11*/
}



/* ========================================================
 * LAYOUT
======================================================== */
/* ****************** Common ********************** */
.area{ max-width:var(--area-width); margin:0px auto;}
.area-box{ max-width:var(--area-box-width); margin:0px auto; }
.full-height{height:var(--full-height);}

@media all and (max-width:1680px){
	.area {padding:0 var(--area-padding);}
}

@media all and (max-width:1280px){ 
	.area{max-width:none;}
}

/* ****************** Header ********************** */
#header {position: absolute; top:0; left:0; width:100%; height:var(--header-height); z-index:999999;}
#header .header-inner { display: flex; justify-content: space-between; align-items: center; height:100%; } 
#header .header-inner a { color: var(--txt-color); font-weight: 600; letter-spacing: -0.075em;}
#header .logo { font-size: 3.6rem;}
#nav .menu-list {display: flex;}
#nav .menu-list li {margin-left:2rem;}
#nav .menu-list li button {display:inline-block; position:relative; font-size:2rem; letter-spacing:-0.075em; font-weight:500;} 
@media all and (min-width:801px){
	#nav .menu-list li button:before {content:""; position:absolute; bottom:-5px; left:0; width:0%; height:2px; background: var(--txt-color); transition:all 0.3s;}
	#nav .menu-list li button:hover:before {width:100%;}
}
@media all and (max-width:800px){
	#header:before {content:""; width:0%; height:1px; background: var(--txt-color); position:absolute; top:var(--header-height); left:0; opacity:0.3; transition:width 0.3s;} 
	#header.top-fixed {position:fixed; background:rgba(255,255,255,0.5);}
	#header.top-fixed:before {width:100%;}
}

/* ****************** Footer ********************** */
#footer {position:absolute; bottom:0; width:100%; z-index:9; padding:2rem 0; text-align: center;}
#footer .copyright {font-size:1.5rem; }
#footer .icon-box {margin-bottom:2rem;}
#footer .icon-box a {font-size:20px; color:#000; margin:0 0.5rem; vertical-align: middle;}
#footer .icon-box img {width:15px;}