@charset "utf-8";
/* *******************************************************
 * filename : main.css
 * description : main css
 * date : 2023-04-12
******************************************************** */


/* ========================================================
 * Common
======================================================== */
@keyframes text-active-animation {
	from {
		opacity:0;filter:Alpha(opacity=0);
		-webkit-transform: translate3d(0px, 100%, 0px); 
		transform: translate3d(0px, 100%, 0px); 
	}
	to {
		opacity:1.0;filter:Alpha(opacity=100);
		-webkit-transform: translate3d(0px, 0, 0px); 
		transform: translate3d(0px, 0, 0px); 
	}
}

.txt-ani {overflow: hidden;}
.txt-ani.active .txt-ani-inner {animation: text-active-animation 1.5s cubic-bezier(0.4, 0, 0.2, 1) both;}
.txt-ani-inner {display:block; opacity: 0; }
.txt-ani:nth-child(1).active .txt-ani-inner {animation-delay: 0.2s;}
.txt-ani:nth-child(2).active .txt-ani-inner {animation-delay: 0.5s;}
.txt-ani:nth-child(3).active .txt-ani-inner {animation-delay: 0.8s;}

.sticky-elem { display: none; position: fixed; left: 0; top:0; width: 100%;}
.main-message {opacity:0;}
.scroll-section {position: relative; z-index: 9;/* border:1px solid red;box-sizing: border-box;*/}
.main-section-tit {display:block; text-align:center; font-size:var(--sub-tit-size); text-align: center;}
.main-section-tit span {display: block;}


/* ========================================================
 * Section01  :: Visual
======================================================== */
.main-visual-tit-box {display: flex; align-items: center; justify-content: center; width:100%; height:var(--full-height); } 
.main-visual-tit {font-size:var(--main-tit-size); font-weight: 600; line-height:1.3; letter-spacing: -0.075em; padding: 0 1rem;}
#mainSection01 {background-color:var(--main-color)}
#mainSection01 .sticky-txt-box {display: flex; align-items: center; justify-content: center; height:var(--full-height);}
.main-about-intro {background-color: var(--main-color); text-align:center;}
.main-about-intro .main-tit { font-size:var(--sub-tit-size); line-height:1.2; font-weight:700;} 
.main-about-intro .main-tit span {display:block; font-size: 3rem; font-weight:500; margin-top:2rem;}
#curSection1 .sticky-elem {display: block; will-change: transform, opacity;}

@media all and (max-width:480px) {
	
}

/* ========================================================
 * Section02 :: About
======================================================== */
#mainSection02 {position: relative; }
.main-about-con {background-color: #fff; padding: 20rem 0; box-sizing: border-box;}
.main-about-con .con-box {display: flex; align-items: center; margin-top: 15rem;}
.main-about-con .con-box .img-box {width:37.85%;}
.main-about-con .con-box .img-box .img {display: inline-block; position:relative; border: 2px solid var(--main-color); box-sizing: border-box;}
.main-about-con .con-box .img-box .img:before {content:""; position: absolute; bottom:-3rem; right:-3rem; background-color: var(--main-color); width: 40%; height: 40%; z-index:-1;}
.main-about-con .con-box .img-box .img img {width:100%;}
.main-about-con .con-box .txt-box {width:62.15%; padding-left:9.5rem; box-sizing: border-box;}
.main-about-con .con-box .txt01 {font-size: 4rem; letter-spacing: -0.075em; font-weight: 700; line-height:1.25; } 
.main-about-con .con-box .txt02 {font-size: 3rem; letter-spacing: -0.075em; line-height: 1.666; color: #888; margin-top:1.9rem;}
.main-about-con .con-box .txt02 span {color:var(--txt-color); font-weight: 600; }

@media all and (max-width:1024px){
	.main-about-con {padding:10rem 0;}
	.main-about-con .con-box {display:block; margin-top:10rem;}
	.main-about-con .con-box .img-box {width:100%; text-align:center;}
	.main-about-con .con-box .txt-box {width:100%; padding-left:0; margin-top:10rem; text-align:center;}
	.main-about-con .con-box .txt-box br {display:none;}
}

@media all and (max-width:480px){
	.main-about-con .con-box .img-box .img:before {bottom:-2rem; right:-2rem;}
}


/* ========================================================
 * Section03 :: Portfolio
======================================================== */
.main-portfolio-con {background-color:#fff; padding:20rem 0; box-sizing: border-box; z-index:99;}
.main-portfolio-con .txt {font-size:2.4rem; letter-spacing: -0.075em; line-height: 1.4; text-align: center; margin-top:8rem;}
.main-portfolio-con .txt span {font-weight: 600;}
.main-portfolio-con .con-box {margin-top:10rem;}
.main-portfolio-list {display:flex; justify-content: space-between; flex-wrap: wrap; margin:-1.97% -3.94%;}
.main-portfolio-list li {width:42.1%; margin:1.97% 3.94%; text-align: center;}
.main-portfolio-list li dt {position: relative; padding-top:56.25%;}
.main-portfolio-list li .img-wrap { position:absolute; top:0; left:0; right:0; bottom:0; overflow:hidden;}
.main-portfolio-list li .img-wrap img {width:100%; transition:var(--transition-custom); transition-property:transform;}
.main-portfolio-list li .img-wrap:before {content: ""; position: absolute; top:0; left:0; width:100%; height:100%; border:3px solid var(--main-color); background-color: #fff; box-sizing: border-box; opacity: 0;  transition: opacity 0.3s;}
.main-portfolio-list li .cover {display: block; position:absolute; top:0; left:0; width:100%; height:100%; background-color: rgba(0,0,0,0.45); opacity:0; transition:var(--transition-custom);}
.main-portfolio-list li .more {position: absolute; top:50%; left:50%; transform: translate(-50%,-30%); font-size:2rem; color:#fff; font-weight:500; opacity:0; transition:all 0.3s; z-index: 1;}
.main-portfolio-list li .tit { display:inline-block; text-align:center; font-size: 2.4rem; letter-spacing: -0.075em; font-weight: 500; color:var(--txt-color); margin-top:2rem;}
.main-portfolio-list li .tit.award {position:relative; padding-left:35px;}
.main-portfolio-list li .tit.award:before {content:""; position:absolute; left:0; top:50%; transform: translateY(-50%); width:25px; height:35.15625px; background:url('../images/award2.png') no-repeat center / 100% auto;}
.main-portfolio-list li a:hover img {transform: scale(1.1) rotate(0.002deg);}
.main-portfolio-list li a:hover .img-wrap:before {opacity:0.7;}
.main-portfolio-list li a:hover .more {opacity: 1; transform: translate(-50%,-50%);}
.main-portfolio-list li a:hover .cover {opacity:1;}



@media all and (max-width:1024px){
	.main-portfolio-con {padding:10rem 0;}
	.main-portfolio-con .con-box {margin-top:10rem;}
	.main-portfolio-list { margin:-2% -1%;}
	.main-portfolio-list li {width:48%; margin:2% 1%; }
}
@media all and (max-width:800px){
	.main-portfolio-list { display:block; margin:-4rem 0;}
	.main-portfolio-list li {width:100%; margin:4rem 0 }
}

/* ========================================================
 * Section04 :: Contact
======================================================== */
#mainSection04 {position:relative; height:var(--full-height);}
#mainSection04 .bg { position:absolute; top:0; left:0; width:100%; height: 100%; background-color:var(--main-color); }
.main-contact-con {text-align:center; }
.main-contact-con .inner {height:100%;}
.main-contact-con .inner-box {display:flex; flex-wrap: wrap; align-items:center; justify-content: center; align-content: center;height:100%;}
.main-contact-con .con-box { position:relative; height:100%; }
.main-contact-con .con-box .tit-box {margin-bottom:5rem; width:100%;}
.main-contact-con .con-box .tit {font-size: var(--sub-tit-size); letter-spacing: -0.05em; font-weight: 700;}
.main-contact-con .con-box .txt {font-size: 2rem; letter-spacing: -0.05em; font-weight: 500; margin-top:2rem;}
.main-contact-con .con-box .btn-box {display: flex;	opaicty:0;}
.main-contact-con .con-box .btn-box a {display:flex; align-items:center; justify-content: center; width:20rem; height:5rem; font-size:1.6rem; border: 1px solid var(--txt-color); padding:0 2rem; color:var(--txt-color); margin-left:2rem; transition:all 0.3s;}
.main-contact-con .con-box .btn-box a i {margin-right:5px;}
.main-contact-con .con-box .btn-box a:first-child {margin-left:0;}
.main-contact-con .con-box .btn-box a:hover {color:var(--main-color); border-color:var(--main-color); background-color:#fff;} 


